[Desktop Entry]
Name=Queries
GenericName=Queries
Comment=Extensible Relational database client
Categories=Productivity;GTK
Icon=queries
Exec=queries
Terminal=false
Type=Application

