.scrolledwindow {
  background-color : #FFFFFF;
}

.table-cell {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border : 1px solid #F0F0F0;
  /*border : 1px solid #000000;*/
  background-color : #FFFFFF;
}

.selected {
  background-color : #F5F6F7;
  border : 1px solid #E9E9E9;
}

.first-row {
  /*background-color : #E9E9E9;*/
  font-weight : bold;
  border-bottom : 1px solid #F0F0F0;
}


