[Desktop Entry]
Name=Queries
GenericName=Queries
Comment=SQL Client
Categories=Productivity;GTK
Icon=com.github.limads.Queries
Exec=queries
Terminal=false
Type=Application
MimeType=text/plain
Keywords=Database;SQL;Postgres;

