[Desktop Entry]
Name=Queries
GenericName=Queries
Comment=SQL Client
Categories=Productivity;GTK
Icon=queries
Exec=queries
Terminal=false
Type=Application
MimeType=application/x-sql
